/* stylelint-disable no-descending-specificity */

$prefix: wind-f;

.#{$prefix} {
  &-search-card {
    margin-bottom: 24px;
  }
  // &-search-form {
  //   display: flex;
  //   flex-flow: row wrap;
  //   position: relative;
  //   margin-bottom: 5px;
  //   :global {
  //     > .ant-form-item:last-child {
  //       position: absolute;
  //       top: 0;
  //       right: 0;
  //     }
  //   }
  // }
  &-search-btnGroup {
    min-width: 165px;
  }
  &-search-btn {
    margin-right: 10px;
  }
  &-search-table {
    margin-top: 10px;
  }
  &-extra {
    margin-bottom: 24px;
  }
  &-base-form {
    :global {
      .anticon {
        margin-left: 2px;
      }
    } 
  }
}
